/* Variables */
:root {
    --color-cyan: #add8e6;
    --color-emerald: #20b2aa;
    --color-blue: #3161e0;
    --color-gold: #daa520;
    --color-pink: #ee82ee;
    --color-peach: #f08080;
    --color-green: #228b22;
    --color-gray: #d3d3d3;
    --color-dark: #23272a;

    --container-md: 1080px;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 46px;
    margin-bottom: 30px;
}

p {
    margin-bottom: 12px;
    line-height: 1.5;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}


/* Utils */
.container-md {
    max-width: var(--container-md);
    margin-left: auto;
    margin-right: auto;
}

.bg-white {
    background-color: #fff;
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-pink {
    background-color: var(--color-pink);
}

.bg-gray {
    background-color: var(--color-gray);
}

.bg-green {
    background-color: var(--color-green);
}

.border-dashed {
    border: 2px dashed #000;
}

.p-1 {
    padding: 30px;
}

.h-400 {
    min-height: 400px;
}

.h-800 {
    min-height: 800px;
}

.separator {
    margin: 30px 0;
    border: 1px solid #fff;
}


/* Layout */
.row {
    display: flex;
}

.col {
    flex-grow: 1;
    flex-shrink: 0;
    padding: 10px;
    border: 2px dashed #000;
}

.col-20 {
    flex-basis:  20%;
}

.col-25 {
    flex-basis:  25%;
    background-color: var(--color-peach);
}

.col-30 {
    flex-basis:  30%;
    background-color: var(--color-pink);
}

.col-40 {
    flex-basis: 40%;
}

.col-60 {
    flex-basis: 60%;
}

.col-70 {
    flex-basis: 70%;
    background-color: var(--color-cyan);
}

.col-75 {
    flex-basis:  75%;
    background-color: var(--color-emerald);
}

.col .row .col {
    border-color: #fff;
 }


/*=====================================*/
/* Navbar */
header {
    background-color: var(--color-blue);
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
}

.navbar .navbar-logo,
.navbar .navbar-buttons {
    flex-basis: 20%;
}

.navbar .navbar-menu {
    flex-basis: 60%;
}


/* Navbar Logo */
.navbar-logo img {
    height: 35px;
    vertical-align: middle;
}

/* Navbar Menu */
.navbar-menu ul {
    display: flex;
    justify-content: center;
}

.navbar-menu a {
    display: block;
    padding: 20px;
    color: #fff;
    font-weight: bold;
}

/* Navbar Buttons */
.navbar-buttons {
    text-align: right;
}


/* Button */
.btn {
    padding: 10px 16px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.btn i {
    margin: 0 8px;
}

.btn.btn-big {
    padding: 12px 18px;
    border-radius: 24px;
    font-size: 18px;
}

.btn.btn-big i {
    font-size: 16px;
}

.btn.btn-primary {
    color: #000;
    background-color: #fff;
}

.btn.btn-secondary {
    color: #fff;
    background-color: var(--color-dark);
}


/* Jumbotron */
.jumbotron {
    height: 450px;
    padding: 70px 0;
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.jumbotron-content {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    text-align: center;
}

.jumbotron-buttons {
    padding: 12px;
}

.jumbotron-buttons .btn:first-child{
    margin-right: 18px;
}





/* Main Footer */
#main-footer {
    padding: 6px 0 0 0;
    background-color: var(--color-dark);
}

.footer-top {
    display: flex;
}

.footer-top > .col {
    padding: 0;
}

.footer-bottom {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-cyan);
}

.footer-bottom .col {
    flex-grow: 0;
    background-color: var(--color-pink);
}