/* Variables */
:root {
    --color-cyan: #add8e6;
    --color-emerald: #20b2aa;
    --color-blue: #3161e0;
    --color-lightblue: #8ea1e1;
    --color-gold: #daa520;
    --color-pink: #ee82ee;
    --color-peach: #f08080;
    --color-gray: #f6f6f6;
    --color-dark: #23272a;

    --container-md: 980px;
}

/* Resets */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Generics */
body {
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 46px;
    margin-bottom: 30px;
}

h2 {
    font-size: 40px;
    margin-bottom: 22px;
}

h3 {
    font-size: 24px;
    margin-bottom: 18px;
}

p {
    margin-bottom: 12px;
    line-height: 1.5;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    list-style: none;
}

section {
    padding: 80px 0 120px 0;
}

/* Utils */
.container {
    max-width: var(--container-md);
    margin-left: auto;
    margin-right: auto;
}

.img-fluid {
    width: 100%;
    height: auto;
}

.bg-white {
    background-color: #fff;
}

.bg-blue {
    background-color: var(--color-blue);
}

.bg-pink {
    background-color: var(--color-pink);
}

.bg-gray {
    background-color: var(--color-gray);
}

.text-center {
    text-align: center;
}


.border-dashed {
    border: 2px dashed #000;
}

.h-400 {
    min-height: 400px;
}

.h-800 {
    min-height: 800px;
}

.separator {
    margin: 30px 0;
    border: 1px solid #fff;
}




/* Layout */
.row {
    display: flex;
    margin-left: -48px;
    margin-right: -48px;
}

.row .col-small {
    flex-basis:  35%;
    padding: 0 48px;
}

.row .col-large {
    flex-basis: 65%;
    padding: 0 48px;
}

.row .col-full {
    flex-basis: 100%;
    padding: 0 48px;
}

.col-25 {
    flex-basis:  25%;
    background-color: var(--color-peach);
}

.col-75 {
    flex-basis:  75%;
    background-color: var(--color-emerald);
}

.col .row .col {
    border-color: #fff;
 }


/*=====================================*/
/* Navbar */
header {
    background-color: var(--color-blue);
}

.navbar {
    height: 80px;
    display: flex;
    align-items: center;
}

.navbar .navbar-logo,
.navbar .navbar-buttons {
    flex-basis: 20%;
}

.navbar .navbar-menu {
    flex-basis: 60%;
}


/* Navbar Logo */
.navbar-logo img {
    height: 35px;
    vertical-align: middle;
}

/* Navbar Menu */
.navbar-menu ul {
    display: flex;
    justify-content: center;
}

.navbar-menu a {
    display: block;
    padding: 20px;
    color: #fff;
    font-weight: bold;
}

/* Navbar Buttons */
.navbar-buttons {
    text-align: right;
}


/* Button */
.btn {
    padding: 10px 16px;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 20px;
    vertical-align: middle;
    cursor: pointer;
}

.btn i {
    margin: 0 8px;
}

.btn.btn-big {
    padding: 12px 18px;
    border-radius: 24px;
    font-size: 18px;
}

.btn.btn-big i {
    font-size: 16px;
}

.btn.btn-primary {
    color: #000;
    background-color: #fff;
}

.btn.btn-secondary {
    color: #fff;
    background-color: var(--color-dark);
}

.btn.btn-blue {
    color: #fff;
    background-color: var(--color-lightblue);
}


/* Jumbotron */
.jumbotron {
    background-image: url('../img/jumbo.png');
    background-size: cover;
}

.jumbotron-content {
    width: 50%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
    text-align: center;
}

.jumbotron-buttons {
    padding: 12px;
}

.jumbotron-buttons .btn:first-child{
    margin-right: 18px;
}


/* Section Wave */
.wave {
    height: 70px;
    opacity: 0.03;
    background-image: url('../img/wave.svg');
}

.wave.invert {
    rotate: 0.5turn;
}


/* Main Footer */
#main-footer {
    padding: 6px 0 0 0;
    background-color: var(--color-dark);
}

.footer-top {
    display: flex;
}

.footer-top > .col {
    padding: 0;
}

.footer-bottom {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-cyan);
}

.footer-bottom .col {
    flex-grow: 0;
    background-color: var(--color-pink);
}